.footer {
    padding: 20px;
    // padding-bottom: 10px;
    font-size: 10px;
    background-color: rgb(223, 223, 223);
    width: 90%;
    height: 15px;
    bottom: 0;
    // position: absolute;
    // margin-left: 12px;

    p {
        // 5 min I am coming
        margin: -10px 0 0 10px;
    }
}